<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Amigo Oculto</title>
  <link rel="stylesheet" type="text/css" href="/static/css/envelope.css" media="screen" />
</head> 

<body>
  <div id="envelope">
     <div id="top"></div>
     <div id="left"></div>
     <div id="right"></div>
     <div id="bottom"></div>
     <div id="letter">
       <div id="text">
       <h3>Seu Amigo Oculto é</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       </div>
       </div>
  </div>
 <div id="shadow"></div>
  <div class="controls">
    <button onClick="openEnvelope()">Abrir</button>
    <button onClick="closeEnvelope()">Fechar</button>
  </div>
</body>
</html>